<h2>Feedback Form</h2>
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <input formControlName="name" />
  <div *ngIf="feedbackForm.get('name')?.invalid && feedbackForm.get('name')?.touched">
    Name is required.
  </div><br><br>

  <label>Email:</label>
  <input formControlName="email" />
  <div *ngIf="feedbackForm.get('email')?.invalid && feedbackForm.get('email')?.touched">
    Valid email required.
  </div><br><br>

  <label>Message:</label>
  <textarea formControlName="message"></textarea>
  <div *ngIf="feedbackForm.get('message')?.invalid && feedbackForm.get('message')?.touched">
    Message is required.
  </div><br><br>

  <button type="submit" [disabled]="feedbackForm.invalid">Submit</button>
</form>